.cart-items {
  margin-top: 20px;
}

.items {
  border: 1px solid rgb(112, 112, 112);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px 10px;
  text-align: center;
  transition: 0.2s;
  width: 240px;
}

.items p, .items img, .items button {
  margin-bottom: 10px;
}

.items img {
  margin: auto;
}

.total-value h1, .total-value p, .total-value button {
  margin-bottom: 60px;
}

.items button, .total-value button {
  border: none;
  color: rgb(130, 130, 130);
  cursor: pointer;
  font-size: 1.2em;
  height: 40px;
  padding: 5px;
  transition: 0.5s;
}

.items button:hover, .total-value button:hover {
  background-color: black;
  color: white;
}

.cart-section {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.total-value {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
}

.total-value h1 {
  font-size: 2.8em;
}

.total-value p {
  font-size: 1.3em;
}

.empty-car {
  font-size: 2em;
  left: 40vw;
  position: absolute;
  top: 50vh;
}
